.contact_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "montserrat";
    font-weight: 600;
    width: 50%;
    margin-left: 23.5%;
    margin-top: 1%;
    margin-bottom: 5%;
    background: black;
    border-radius: 5px;
    padding: 20px;
    color: white;
    border-style: solid;
    
}
.Contact{
    margin-bottom: 10%;
}
email{
    font-style: italic;
    color: black;
    background: white;
    padding: 10px;
}