



img{
  height: 100%;
  width: 85%;
  margin-left: 8%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;

}

.transition{
  opacity: 0;
  transition-duration: 1s;
}
#manga_page{
  margin-top: 40px;
  
  
}
.appear{
  opacity: 1;
  transition-duration: 2s;
}
