



img{
  height: 100%;
  width: 85%;
  margin-left: 8%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;

}
#manga_page{
  margin-top: 70px;
  
}
#page_select{

  
}